@{

}

<h1>Cheeses</h1>

@if (ViewBag.cheeses.Count == 0)
{
    <p>There is no cheese!</p>
}
<p><a asp-controller="Cheese" asp-action="Add">Add Cheese</a></p>

@if (ViewBag.cheeses.Count > 0)
{
<form method="post" action="/Cheese/Remove">
    @foreach (var cheese in ViewBag.cheeses)
    {
        <p>
            <input type="checkbox" name="cheeseIds" id="@cheese.CheeseId" value="@cheese.CheeseId">
            &nbsp;
            <b>@cheese.Name:</b>
            <i>@cheese.Description</i>
            &nbsp;
            <a asp-controller="Cheese" asp-action="Edit" asp-route-cheeseId="@cheese.CheeseId">Edit</a>
        </p>
    }
        <p>
            <input type="submit" value="Remove" />
        </p>
</form>
}

@* @if (ViewBag.cheeses.Count > 0)
{
    <p><a asp-controller="Cheese" asp-action="Remove">Remove Cheese</a></p>
} *@